<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/admin-list.js"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body" id="layui">
    <div class="layui-row">
        <form class="layui-form layui-col-md8 x-so">
            <input type="text" name="teacherName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            <button class="layui-btn" @click="getTeacherByName()" type="button"><i class="layui-icon">&#xe615;</i></button>
        </form>
        <a class="layui-btn layui-btn-small"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">ဂ</i>
        </a>
    </div>
    <!--<xblock>-->
    <button id="uploadButton" class="layui-btn"><i class="layui-icon">&#xe62f;</i>批量添加</button>
    <button class="layui-btn" onclick="x_admin_show('添加用户','/admin/admin-add')"><i class="layui-icon"></i>添加</button>
    <span class="x-right" style="line-height:40px">共有{{tatolNumber}}条数据</span>
    <!--</xblock>-->
    <table class="layui-table">
        <thead>
        <tr>
            <th>教师ID</th>
            <th>教师姓名</th>
            <th>手机号</th>
            <th>邮箱</th>
            <th>角色</th>
            <th>年级ID</th>
            <th>学校ID</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="teacher in teacherList">
            <td>{{teacher.teacherId}}</td>
            <td>{{teacher.teacherName}}</td>
            <td>{{teacher.teacherTel}}</td>
            <td>{{teacher.teacherEmail}}</td>
            <td v-if="teacher.roleList.length >0">
                <div v-for="role in teacher.roleList">{{role.roleDescription+" "}}</div>
            </td>
            <td v-else>&nbsp;</td>
            <td>{{teacher.teacherGradeId}}</td>
            <td>{{teacher.teacherSchoolId}}</td>
            <td class="td-manage">
                <a title="编辑" :data ="teacher.teacherId" onclick="toAdminEdit('编辑','/admin/admin-edit',this)" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="laypage" class="page">
    </div>
</div>
</body>
</html>