<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <!--<script type="text/javascript" src="/js/xadmin.js"></script>-->
    <script type="text/javascript" src="/js/paper-edit.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="#" th:text="${title}">X-admin v2.0</a></div>

    <ul class="layui-nav left" lay-filter="">
        <li class="layui-nav-item">
            <button class="layui-btn  layui-btn-sm layui-btn-normal" onclick="addObjective()">客观题</button>
        </li>
        <li class="layui-nav-item">
            <a href="#"></a>
        </li>
        <li class="layui-nav-item">
            <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="addSubjective()">主观题</button>
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a id="a" href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>
                <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                <dd><a href="./login.html">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
    </ul>
</div>
<div class="x-body">

    <form class="layui-form">
        <input name="subject" th:value="${subject}" hidden/>
        <input name="paperId" th:value="${paperId}" hidden/>
        <div id="div" th:if="${questions.size() eq 0}">
            <div class="layui-card">
                <label class="layui-form-label"><a href="#" onclick="remove(this,2)"></button><i
                        class="layui-icon layui-icon-close-fill"></i></a>&nbsp;&nbsp;
                    <span onblur="span_onblur(this)" contenteditable="true">1</span>.
                    <input class="index" type="text" name="oindex[]" value="1" hidden/>
                </label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input question" name="objectiveName[]" value=""/>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md8">
                            <div class="layui-inline">
                                <label class="layui-form-label">A</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="a[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">B</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="b[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">C</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="c[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">D</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="d[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md4">
                            <div class="layui-inline">
                                <label class="layui-form-label">分值</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="oscore[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">答案</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="answer[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <label class="layui-form-label"><a href="#" onclick="remove(this,2)"></button><i
                        class="layui-icon layui-icon-close-fill"></i></a>&nbsp;&nbsp;
                    <span onblur="span_onblur(this)" contenteditable="true">2</span>.
                    <input class="index" type="text" name="oindex[]" value="2" hidden/>
                </label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input question" name="objectiveName[]" value=""/>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md8">
                            <div class="layui-inline">
                                <label class="layui-form-label">A</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="a[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">B</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="b[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">C</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="c[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">D</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="d[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md4">
                            <div class="layui-inline">
                                <label class="layui-form-label">分值</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="oscore[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">答案</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="answer[]" autocomplete="off" value="" class="layui-input"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="div">
                    <a href="javascript:;" onclick="remove(this,2)"></button><i
                            class="layui-icon layui-icon-close-fill"></i></a>
                    <a href="javascript:;" onclick="add_input(this)"><i class="layui-icon   layui-icon-add-1"></i></a>
                    <div class="layui-card-body">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <textarea name="content[]" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <input class="input" hidden name="subjectiveNum[]" value="1"/>
                    <div class="layui-row">
                        <div class="layui-col-md9">
                            <label class="layui-form-label">
                                <a href="javascript:;" onclick="remove(this,3)">
                                    <i class="layui-icon layui-icon-close-fill"></i></a>&nbsp;&nbsp;
                                <span onblur="span_onblur(this)" contenteditable="true">3</span>.
                                <input class="index" type="text" name="sindex[]" value="3" hidden/>
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="subjectiveName[]" autocomplete="off"
                                       class="layui-input question">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <div class="layui-inline">
                                <label class="layui-form-label">分值</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="sscore[]" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="div" th:if="${questions.size() gt 0}">
            <div th:each="question:${questions}">
                <div th:if="${question.questionType eq 1}">
                    <div class="layui-card">
                        <label class="layui-form-label"><a href="#" onclick="remove(this,2)"></button><i
                                class="layui-icon layui-icon-close-fill"></i></a>&nbsp;&nbsp;
                            <span onblur="span_onblur(this)" contenteditable="true"
                                  th:text="${question.questionPk.questionId}">1</span>.
                            <input class="index" type="text" name="oindex[]"
                                   th:value="${question.questionPk.questionId}" hidden/>
                        </label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input question" name="objectiveName[]"
                                   th:value="${question.questionName}"/>
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-row">
                                <div class="layui-col-md8">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">A</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="a[]" autocomplete="off"
                                                   th:value="${question.objectivequestion_A_option}"
                                                   class="layui-input"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">B</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="b[]" autocomplete="off"
                                                   th:value="${question.objectivequestion_A_option}"
                                                   class="layui-input"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">C</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="c[]" autocomplete="off"
                                                   th:value="${question.objectivequestion_A_option}"
                                                   class="layui-input"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">D</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="d[]" autocomplete="off"
                                                   th:value="${question.objectivequestion_A_option}"
                                                   class="layui-input"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md4">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">分值</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="oscore[]" autocomplete="off"
                                                   th:value="${question.questionScore}" class="layui-input"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">答案</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="answer[]" autocomplete="off"
                                                   th:value="${question.questionAnswer}" class="layui-input"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${question.questionType eq 0}">
                    <div class="layui-card">
                        <div class="div">
                            <a href="javascript:;" onclick="remove(this,2)"></button><i
                                    class="layui-icon layui-icon-close-fill"></i></a>
                            <a href="javascript:;" onclick="add_input(this)"><i
                                    class="layui-icon   layui-icon-add-1"></i></a>
                            <div class="layui-card-body">
                                <label class="layui-form-label"></label>
                                <div class="layui-input-block">
                                <textarea name="content[]" th:text="${question.subjectiveQuestionContent}" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <input class="input" hidden name="subjectiveNum[]" th:value="${question.subjectiveNum}"/>
                            <div class="layui-row">
                                <div class="layui-col-md9">
                                    <label class="layui-form-label">
                                        <a href="javascript:;" onclick="remove(this,3)">
                                            <i class="layui-icon layui-icon-close-fill"></i></a>&nbsp;&nbsp;
                                        <span onblur="span_onblur(this)" contenteditable="true"
                                              th:text="${question.questionPk.questionId}">3</span>.
                                        <input class="index" type="text" name="sindex[]"
                                               th:value="${question.questionPk.questionId}"
                                               hidden/>
                                    </label>
                                    <div class="layui-input-block">
                                        <input type="text" name="subjectiveName[]" autocomplete="off"
                                               th:value="${question.questionName}"
                                               class="layui-input question">
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">分值</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="sscore[]" autocomplete="off"
                                                   th:value="${question.questionScore}" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" th:if="${question.subjectivequestionList ne null}"
                                 th:each="sbquestion:${question.subjectivequestionList}">
                                <div class="layui-col-md9">
                                    <label class="layui-form-label">
                                        <a href="javascript:;" onclick="remove(this,3)">
                                            <i class="layui-icon layui-icon-close-fill"></i></a>&nbsp;&nbsp;
                                        <span onblur="span_onblur(this)" contenteditable="true"
                                              th:text="${sbquestion.questionPk.questionId}">3</span>.
                                        <input class="index" type="text" name="sindex[]"
                                               th:value="${sbquestion.questionPk.questionId}"
                                               hidden/>
                                    </label>
                                    <div class="layui-input-block">
                                        <input type="text" name="subjectiveName[]" autocomplete="off"
                                               th:value="${sbquestion.questionName}"
                                               class="layui-input question">
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">分值</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="sscore[]" autocomplete="off"
                                                   th:value="${sbquestion.questionScore}" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div class="layui-row">
                <div class="layui-col-md5">
                    &nbsp;
                </div>
                <div class="layui-col-md2">
                    <button class="layui-btn" lay-filter="add" lay-submit="">
                        增加
                    </button>
                </div>
                <div class="layui-col-md5">
                    &nbsp;
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    $(function () {
        var res = $.cookie("current");
        var info = $.parseJSON(res);
        var name = info.teacherName;
        $("#a").html(name)

    })
</script>
</html>