<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/paper-correct.js"></script>
</head>

<body>
<div id="paperId" hidden th:value="${paperId}"></div>
<div id="correct">
    <div class="layui-card">
        <div class="layui-card-body">
            <div type="text" style="text-align:center;">{{subjectiveQuestionContent}}</div>
        </div>
        <div class="layui-card-header">
            <div style="text-align:center;">{{questionName}}&nbsp;&nbsp;{{questionScore}}</div>
        </div>
    </div>
    <div class="layui-container">
        <form class="layui-form">
            <div class="layui-col-md8">
                <div  v-if="answer != null"> {{answer.scoreAnswerContent}}</div>
                <div v-else>&nbsp;</div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-input-block">
                    <input id="score" class="layui-input" name="goalScore" value="" required lay-verify="required">
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-filter="put" lay-submit="">确定</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="laypage" class="page"></div>
</div>
</body>
</html>