<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./js/jquery.cookie.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
</head>

<body>
<div id="app">
    <div class="layui-card">
        <div class="layui-card-body">
            <div type="text" style="text-align:center;">第一道大题</div>
        </div>
        <div class="layui-card-header">
            <div style="text-align:center;">你在看什么</div>
        </div>
    </div>
    <div class="layui-col-md6" style="border-right: 1px solid;border-bottom:1px solid ">
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540308878754&di=4da886f2dcf10fae42858f768a878284&imgtype=0&src=http%3A%2F%2Flive-cover.msstatic.com%2Fhuyalive%2F98057200-2686881316-11540067380453441536-4382227474-10057-A-0-1%2F20180904014447.jpg%3Fx-oss-process%3Dstyle%2Fw338_h190">
    </div>
    <div class="layui-col-md6" style="border-bottom:1px solid">
        ss
    </div>


</div>
</body>
</html>